### Exercise 1: Calculate the multiplication and sum of two numbers

#### Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
num1 = int(input('Enter 1st num: '))
num2 = int(input('Enter 2nd num: '))

def check(num1,num2):
    if num1*num2 <= 1000:
        return num1*num2
    else:
        return num1+num2
    
check(num1,num2)

### Exercise 2: Print the sum of the current number and the previous number
#### Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [6]:
for i in range(10):
    if i == 0:
        print(f'Current number: {i:^4} Previous number: {i:^4} Sum: {i:^4}')
    else:
        print(f'Current number: {i:^4} Previous number: {i-1:^4} Sum: {i+i-1:^4}')

Current number:  0   Previous number:  0   Sum:  0
Current number:  1   Previous number:  0   Sum:  1
Current number:  2   Previous number:  1   Sum:  3
Current number:  3   Previous number:  2   Sum:  5
Current number:  4   Previous number:  3   Sum:  7
Current number:  5   Previous number:  4   Sum:  9
Current number:  6   Previous number:  5   Sum:  11
Current number:  7   Previous number:  6   Sum:  13
Current number:  8   Previous number:  7   Sum:  15
Current number:  9   Previous number:  8   Sum:  17

### Exercise 3: Print characters from a string that are present at an even index number
#### Write a program to accept a string from the user and display characters that are present at an even index number.

In [3]:
string = input('Enter the string: ')
print('Even index char:',*string[::2],sep='\n')

Enter the string: pynative
Even index char:
p
n
t
v

### Exercise 4: Remove first n characters from a string
#### Write a program to remove characters from a string starting from zero up to n and return a new string.

In [6]:
def remove_char(string,num):
    return string[num:]

string = input('Enter the string: ')
num = int(input('Enter the num: '))
print('After removing characters:',remove_char(string,num))

Enter the string: pynative
Enter the num: 2
After removing characters: native

### Exercise 5: Check if the first and last number of a list is the same
#### Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [2]:
num_list=[]
n = int(input('Enter the length of list:'))
for num in range(n):
    num_list.append(int(input()))

def check(num_list):
    if num_list[0] == num_list[-1]:
        return True
    else: 
        return False

print(num_list)
print(check(num_list))

Enter the length of list:5
10
20
30
40
10
[10, 20, 30, 40, 10]
True

### Exercise 6: Display numbers divisible by 5 from a list
#### Iterate the given list of numbers and print only those numbers which are divisible by 5

In [19]:
num_list=[]
n = int(input('Enter the length of list:'))
for num in range(n):
    num_list.append(int(input()))

op_list = [num for num in num_list if num % 5 == 0]
print('Given List:',num_list)
print('Divisible by 5',*op_list, sep = '\n')

Enter the length of list:5
10
20
33
46
55
Given List: [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

### Exercise 7: Return the count of a given substring from a string
#### Write a program to find how many times substring “Emma” appears in the given string.

In [29]:
string = input('Enter the string: ')
word_to_count = input('Enter the substring: ')
print(f'{word_to_count} appeared {string.count(word_to_count)} times')

Enter the string: Emma is good developer. Emma is a writer
Enter the substring: Emma
Emma appeared 2 times

### Exercise 8: Print the following pattern

1

22

333

4444

55555

In [40]:
n = int(input('Enter the number: '))
for i in range(1,n+1):
    print(str(i)*i)

Enter the number: 5
1
22
333
4444
55555

### Exercise 9: Check Palindrome Number

#### Write a program to check if the given number is a palindrome number.

#### A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [1]:
num = input('Enter a num: ')

if num == num[::-1]:
    print('Palindrome')
else:
    print('Not Palindrome')

Enter a num: 545
Palindrome

In [15]:
n = int(input('Enter a number: '))
num = n
rev = 0
while num > 0:
    rev = rev*10 + (num % 10)
    num = num // 10

if rev == n:
    print('Palindrome')
else:
    print('Not Palindrome')

Enter a number: 121
Palindrome

### Exercise 10: Create a new list from a two list using the following condition
#### Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [28]:
l1 = []
l2 = []

n1 = int(input('Enter the size of List 1: '))
for n in range(n1):
    l1.append(int(input()))
    
n2 = int(input('Enter the size of List 2: '))
for n in range(n2):
    l2.append(int(input()))
    
op = [num for num in l1 if num % 2 != 0]
op.extend([num for num in l2 if num % 2 == 0])
print(op)

Enter the size of List 1: 1
1
Enter the size of List 2: 2
2
3
[1, 2]

### Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
#### For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [29]:
n = int(input('Enter a number: '))
rev = []
while n > 0:
    rev.append(n % 10)
    n //= 10
print(*rev,sep = ' ')

Enter a number: 145687
7 8 6 5 4 1

In [30]:
n = int(input('Enter a number: '))

while n > 0:
    rev = n % 10
    n //= 10
    print(rev,end = ' ')

Enter a number: 145687
7 8 6 5 4 1

### Exercise 12: Calculate income tax for the given income by adhering to the below rules

- Taxable Income	Rate (in %)

- First $10,000	0

- Next $10,000	10

- The remaining	20

Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000\*0% + 10000\*10%  + 25000*20% = $6000.

In [11]:
t_inc = int(input('Enter the taxable income: '))

if t_inc <= 10_000:
    tax = 0
elif t_inc <= 20_000:
    t_inc -= 20_000
    tax = 10_000 * 0.1
else:
    tax = 0
    t_inc -= 20_000
    tax = 10_000 * 0.1
    tax += t_inc * (20/100)

print(f'Payable tax: {tax}')

Enter the taxable income: 25000
Payable tax: 2000.0

### Exercise 13: Print multiplication table form 1 to 10

#### Expected Output:
1      2 3 4 5 6 7 8 9 10 		
2      4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [20]:
num = int(input('Enter the number till which multiplication table needed: '))

for n in range(1,num+1):
    print(n,end = '\t')
    for m in range(1,11):
        print(n*m,end=' ')
    print('\n')

Enter the number till which multiplication table needed: 10
1	1 2 3 4 5 6 7 8 9 10

2	2 4 6 8 10 12 14 16 18 20

3	3 6 9 12 15 18 21 24 27 30

4	4 8 12 16 20 24 28 32 36 40

5	5 10 15 20 25 30 35 40 45 50

6	6 12 18 24 30 36 42 48 54 60

7	7 14 21 28 35 42 49 56 63 70

8	8 16 24 32 40 48 56 64 72 80

9	9 18 27 36 45 54 63 72 81 90

10	10 20 30 40 50 60 70 80 90 100

### Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

#### * * * * *  
#### * * * *  
#### * * *  
#### * *  
#### *

In [27]:
num = int(input('Enter the number: '))

for n in range(num):
    print('*'*(num-n))

Enter the number: 5
*****
****
***
**
*

### Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

#### Note here exp is a non-negative integer, and the base is an integer.

#### Expected output

#### Case 1:

base = 2

exponent = 5

2 raises to the power of 5: 32 

i.e. (2 *2 * 2 *2 *2 = 32)

#### Case 2:

base = 5

exponent = 4

5 raises to the power of 4 is: 625 

i.e. (5 *5 * 5 *5 = 625)

In [29]:
base = int(input('Enter the base: '))
exp = int(input('Enter the exp: '))

def exponent(base,exp):
    return base**exp

print(exponent(base,exp))

Enter the base: 5
Enter the exp: 4
625

## Python Input and Output Exercise

### Exercise 1: Accept numbers from a user
#### Write a program to accept two numbers from the user and calculate multiplication

In [32]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

print('Multiplication of both numbers: {}'.format(num1*num2))

Enter first number: 4
Enter second number: 5
Multiplication of both numbers: 20

### Exercise 2: Display three string “Name”, “Is”, “James” as “Name\*\*Is\*\*James”
#### Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

#### Expected Output:

For example: print('Name', 'Is', 'James') will display Name\*\*Is\*\*James

In [1]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

### Exercise 3: Convert Decimal number to octal using print() output formatting

Given:

num = 8

Expected Output:

The octal number of decimal number 8 is 10

In [6]:
num = int(input('Enter the number: '))
oct1 = oct(num)

print(f'The octal number of decimal number {num} is {oct1[2:]}')

Enter the number: 8
The octal number of decimal number 8 is 10

In [8]:
num = int(input('Enter the number: '))
print('%o' % num)

Enter the number: 8
10

### Exercise 4: Display float number with 2 decimal places using print()

Given:

num = 458.541315

Expected Output:

458.54

In [14]:
num = float(input('Enter the number: '))
print(f'{num:.2f}')
print('%.2f' % num)
print('{:.2f}'.format(num))

Enter the number: 458.541315
458.54
458.54
458.54

### Exercise 5: Accept a list of 5 float numbers as an input from the user

Expected Output:

[78.6, 78.6, 85.3, 1.2, 3.5]

In [15]:
num = int(input('Enter the length of list: '))
f_list = []
for n in range(num):
    f_list.append(float(input()))
print(f_list)

Enter the length of list: 5
78.6
78.6
85.3
1.2
3.5
[78.6, 78.6, 85.3, 1.2, 3.5]

### Exercise 6: Write all content of a given file into a new file by skipping line number 5